h1{text-align: center;
    font: size 50px;;
    color: rgb(0, 0, 0);}
p{text-align:justify;
    font-size: 25px;
    color: rgb(45, 78, 38);
}
.coxinha{ 
    width: 500px;
    margin-left: 650px;
}
.empadinha{
    width: 400px;
    margin-left: 650px;
}
